@model AboutMeViewModel

@using PortfolioApp.Core.Config
@using Microsoft.Extensions.Options
@inject IOptions<FileApiSettings> fileSettings

@{
    var fileApiUrl = fileSettings.Value.FileApiUrl;
}

<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
        <img src="@($"{fileApiUrl}/{Model.AboutMeImageUrl}")" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="/" class="logo d-flex align-items-center justify-content-center">
        <h1 class="sitename">@Model.FullName</h1>
    </a>

    <div class="social-links text-center">
        <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="@Model.GithubUrl" class="github"><i class="bi bi-github"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://medium.com/@@furkan.kaptan.work" class="linkedin"><i class="fab fa-medium"></i></a>
        <a href="@Model.LinkedInUrl" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="/#hero" class="active"><i class="bi bi-house navicon"></i>Anasayfa</a></li>
            <li><a href="/#about"><i class="bi bi-person navicon"></i> Hakkımda</a></li>
            <li><a href="/#resume"><i class="bi bi-file-earmark-text navicon"></i> Özgeçmiş</a></li>
            <li><a href="/#portfolio"><i class="bi bi-images navicon"></i> Projeler</a></li>
            <li><a href="/#contact"><i class="bi bi-envelope navicon"></i> İletişim</a></li>
        </ul>
    </nav>

</header>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">