@model AboutMeViewModel

@using PortfolioApp.Core.Config
@using Microsoft.Extensions.Options

@inject IOptions<FileApiSettings> fileSettings

@{
    var fileApiUrl = fileSettings.Value.FileApiUrl;
}
<section id="hero" class="hero section dark-background">

    <img src="@($"{fileApiUrl}/{Model.HeroImageUrl}")" alt="" data-aos="fade-in" class="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>@Model.FullName</h2>
        <p><span class="typed" data-typed-items="@Model.Field"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>

</section>
