@model UpdateAboutMeViewModel

@using Microsoft.Extensions.Options
@using PortfolioApp.Core.Config
@inject IOptions<FileApiSettings> fileSettings

@{
    ViewData["Title"] = "Hakkmda - Güncelle";
    var fileApiUrl = fileSettings.Value.FileApiUrl;
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Hakkımda</h5>
                <small class="text-muted float-end">Güncelleme</small>
            </div>
            <div class="card-body">

                <form asp-controller="AboutMe" asp-action="Update" method="post" enctype="multipart/form-data" id="updateAboutMeForm">

                    @* @Html.AntiForgeryToken() *@

                    <input type="hidden" asp-for="CvUrl" />

                    <input type="hidden" asp-for="AboutMeImageUrl" />

                    <div class="mb-3">
                        <label asp-for="FullName" class="control-label mb-1">Tam İsim</label>
                        <input asp-for="FullName" class="form-control" id="FullName" />
                        <span class="text-danger" id="fullNameError"></span>
                    </div>

                    <div class="mb-3 mt-3">
                        <label asp-for="Introduction" class="form-label mb-1">Giriş</label>
                        <textarea asp-for="Introduction" rows="6" class="form-control" id="Introduction"></textarea>
                        <span class="text-danger" id="introductionError"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Field" class="control-label mb-1">Alan</label>
                        <input asp-for="Field" class="form-control" id="Field" />
                        <span class="text-danger" id="fieldError"></span>
                    </div>

                    <div class="mb-3 mt-3">
                        <label asp-for="Email" class="form-label mb-1">Email</label>
                        <textarea asp-for="Email" rows="6" class="form-control" id="Introduction"></textarea>
                        <span class="text-danger" id="introductionError"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LinkedInUrl" class="control-label mb-1">LinkedInUrl</label>
                        <input asp-for="LinkedInUrl" class="form-control" id="FullName" />
                        <span class="text-danger" id="fullNameError"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="GithubUrl" class="control-label mb-1">GithubUrl</label>
                        <input asp-for="GithubUrl" class="form-control" id="Field" />
                        <span class="text-danger" id="fieldError"></span>
                    </div>

                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-12 col-md-6 mb-3 d-flex justify-content-center">
                                <div class="text-center">
                                    <h4 class="mb-3">Mevcut Fotoğraf</h4>
                                    <img src="@($"{fileApiUrl}/{Model.AboutMeImageUrl}")" class="img-fluid" alt="Mevcut Fotoğraf" style="max-width: 100%; max-height: 200px; object-fit: cover;">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-3 d-flex justify-content-center">
                                <div class="text-center">
                                    <h4 class="mb-3">CV</h4>
                                    <img src="@($"{fileApiUrl}/{Model.CvUrl}")" class="img-fluid" alt="CV" style="max-width: 100%; max-height: 200px; object-fit: cover;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label asp-for="AboutMeImage" class="form-label mb-1">Yeni Fotoğraf</label>
                        <p style="font-size:14px;">İlk fotoğrafınızı değiştirmek istiyorsanız fotoğraf dosyası yükleyiniz.</p>

                        <p style="font-size:12px;">**Yüklemezseniz fotoğrafınız aynı kalacaktır.</p>
                        <input asp-for="AboutMeImage" class="form-control" type="file" accept="image/*" id="ImageFile1">
                        <span class="text-danger" id="imageFile1Error"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="CvFile" class="form-label mb-1">Yeni CV</label>
                        <p style="font-size:14px;">İkinci fotoğrafınızı değiştirmek istiyorsanız fotoğraf dosyası yükleyiniz.</p>

                        <p style="font-size:12px;">**Yüklemezseniz CV aynı kalacaktır.</p>
                        <input asp-for="CvFile" class="form-control" type="file" accept="image/*" id="ImageFile2">
                        <span class="text-danger" id="imageFile2Error"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

@* @section Scripts {
    <script>
        $(document).ready(function () {
            $('#updateAboutMeForm').on('submit', function (e) {
                let isValid = true;

                // Giriş validasyonu
                const introduction = $('#Introduction').val();
                const introductionTrim = $('#Introduction').val().trim();
                if (introductionTrim.length === 0) {
                    $('#introductionError').text('Giriş kısmı boş olamaz.');
                    isValid = false;
                } else if (introduction.length > 100) {
                    $('#introductionError').text('Giriş kısmı maksimum 100 karakter olmalıdır.');
                    isValid = false;
                } else {
                    $('#introductionError').text('');
                }

                // Tam isim validasyonu
                const fullName = $('#FullName').val();
                const fullNameTrim = $('#FullName').val().trim();
                if (fullNameTrim.length === 0) {
                    $('#fullNameError').text('Tam isim kısmı boş olamaz.');
                    isValid = false;
                } else if (fullName.length > 50) {
                    $('#fullNameError').text('Tam isim kısmı maksimum 50 karakter olmalıdır.');
                    isValid = false;
                } else {
                    $('#fullNameError').text('');
                }

                // Alan validasyonu
                const field = $('#Field').val();
                const fieldTrim = $('#Field').val().trim();
                if (fieldTrim.length === 0) {
                    $('#fieldError').text('Alan kısmı boş olamaz.');
                    isValid = false;
                } else if (field.length > 50) {
                    $('#fieldError').text('Alan kısmı maksimum 50 karakter olmalıdır.');
                    isValid = false;
                } else {
                    $('#fieldError').text('');
                }

                // Image 1 validasyonu
                const imageFile1 = $('#ImageFile1')[0].files[0];
                if (imageFile1 && !isValidImage(imageFile1)) {
                    $('#imageFile1Error').text('Lütfen geçerli bir resim dosyası (jpg, jpeg, png, gif) yükleyiniz.');
                    isValid = false;
                } else {
                    $('#imageFile1Error').text('');
                }

                // Image 2 validasyonu
                const imageFile2 = $('#ImageFile2')[0].files[0];
                if (imageFile2 && !isValidImage(imageFile2)) {
                    $('#imageFile2Error').text('Lütfen geçerli bir resim dosyası (jpg, jpeg, png, gif) yükleyiniz.');
                    isValid = false;
                } else {
                    $('#imageFile2Error').text('');
                }

                if (!isValid) {
                    e.preventDefault(); // Formun gönderilmesini engelle
                }
            });

            function isValidImage(file) {
                const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
                return allowedExtensions.exec(file.name);
            }
        });
    </script>
} *@