<footer class="ftco-footer ftco-section">
    <div class="container">
      <p style="text-align:center;">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | Bu içerik <i class="aria-hidden="true"></i><a href="https://www.linkedin.com/in/furkan-kaptan-0b5339258/" target="_blank">Furkan Kaptan</a> ve  Colorlib katkılarıyla hazırlanmıştır.
      </p>
    </div>
</footer>