<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="/">FK</a>
		<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menü
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav nav ml-auto">
				<li class="nav-item"><a href="/#hero" class="nav-link"><span>Anasayfa</span></a></li>
				<li class="nav-item"><a href="/#about" class="nav-link"><span>Hakkımda</span></a></li>
				<li class="nav-item"><a href="/#resume" class="nav-link"><span>Özgeçmiş</span></a></li>
				<li class="nav-item"><a href="/#portfolio" class="nav-link"><span>Projeler</span></a></li>
				<li class="nav-item"><a href="/#contact" class="nav-link"><span>İletişim</span></a></li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-user" style="font-size: 1.2em; color: #fff;"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end custom-dropdown" aria-labelledby="userDropdown">
						<li><a href="/User/MyProfile" class="dropdown-item">Profilim</a></li>
						<li><a href="/Auth/Login" class="dropdown-item">Giriş Yap</a></li>
						<li><a href="/Auth/Register" class="dropdown-item">Üye Ol</a></li>
						<li><a href="/Auth/Logout" class="dropdown-item">Çıkış Yap</a></li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
</nav>

<style>
	.custom-dropdown {
		background-color: #333; /* Koyu gri arka plan */
	}

		.custom-dropdown .dropdown-item {
			color: #bbb; /* Normal durumdaki gri yazı rengi */
		}

			.custom-dropdown .dropdown-item:hover {
				background-color: #444; /* Daha koyu gri hover arka plan */
				color: #fff; /* Beyaz yazı rengi */
			}
</style>