<title>Furkan Kaptan - Kişisel Web Sayfası</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Blog Post</title>
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="~/blog/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/blog/css/animate.css">

<link rel="stylesheet" href="~/blog/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/blog/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/blog/css/magnific-popup.css">

<link rel="stylesheet" href="~/blog/css/aos.css">

<link rel="stylesheet" href="~/blog/css/ionicons.min.css">

<link rel="stylesheet" href="~/blog/css/flaticon.css">
<link rel="stylesheet" href="~/blog/css/icomoon.css">
<link rel="stylesheet" href="~/blog/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
