@model RegisterViewModel

@{
    Layout = null;
}

@{
    if (TempData["Message"] is not null)
    {
        <div class="alert custom-alert-success mt-5">
            @TempData["Message"]
        </div>
    }

    if (TempData["ErrorMessage"] is not null)
    {
        <div class="alert custom-alert-error mt-5">
            @TempData["ErrorMessage"]
        </div>
    }

    if (ViewData["Message"] is not null)
    {
        <div class="alert custom-alert-success mt-5">
            @ViewData["Message"]
        </div>
    }

    if (ViewData["ErrorMessage"] is not null)
    {
        <div class="alert custom-alert-error mt-5">
            @ViewData["ErrorMessage"]
        </div>
    }
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/signup/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/signup/css/style.css">
</head>
<body>
    
    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">

                        <h2 class="form-title">Kayıt Ol</h2>
                        <form asp-controller="Auth" asp-action="Register" method="post" class="register-form" id="register-form">

                            <div class="form-group">
                                <label asp-for="Firstname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Firstname" placeholder="İsim" />
                                <span class="text-danger" asp-validation-for="Firstname"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Lastname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Lastname" placeholder="Soyisim" />
                                <span class="text-danger" asp-validation-for="Lastname"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Username" placeholder="Kullanıcı adı" />
                                <span class="text-danger" asp-validation-for="Username"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email"><i class="zmdi zmdi-email"></i></label>
                                <input asp-for="Email" placeholder="Email" />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" asp-for="Password" placeholder="Şifre" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>

                            <div class="form-group">
                                
                                <label asp-for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type ="password" asp-for="ConfirmPassword" placeholder="Şifre tekrar" />
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Kayıt Ol" />
                            </div>

                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/signup/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/" class="signup-image-link" >Anasayfaya dön</a>
                        <a href="/Auth/Login" class="signup-image-link" style="margin-top:20px;">Zaten üyeyim</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/signup/vendor/jquery/jquery.min.js"></script>
    <script src="~/signup/js/main.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

<style>

    .text-danger{
        color:red;
    }

    .custom-alert-success {
        position: fixed; /* Sayfada sabit konumlandırma */
        top: 10px; /* Ekranın üst kısmından 10px boşluk */
        left: 50%; /* Ekranın ortasına hizalama */
        transform: translateX(-50%); /* Ortalamak için translate */
        z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
        background-color: #dff0d8;
        color: #3c763d;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .custom-alert-error {
        position: fixed; /* Sayfada sabit konumlandırma */
        top: 10px; /* Ekranın üst kısmından 10px boşluk */
        left: 50%; /* Ekranın ortasına hizalama */
        transform: translateX(-50%); /* Ortalamak için translate */
        z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

</style>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var alerts = document.querySelectorAll('.custom-alert-success, .custom-alert-error');
        alerts.forEach(function (alert) {
            if (alert) {
                setTimeout(function () {
                    alert.style.transition = 'opacity 0.5s ease';
                    alert.style.opacity = '0';
                    setTimeout(function () {
                        alert.remove();
                    }, 500);
                }, 5000);
            }
        });
    });
</script>